@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Montserrat|Bebas+Neue|Space+Mono:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;0,900;1,600&display=swap);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$bebas: 'Bebas Neue', sans-serif;
$work-sans-bold: 'Work Sans', sens-serif;
$space: 'Space Mono', sans-serif;
